<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Quize App</title>
</head>
<body>
  <div class="container">
    <div class="card"  *ngFor="let item of questions; let i = index"> 
      <div class="card-body" [attr.index]="i"> 

     
<ul>
  <li><div class="question">{{item.question}} </div></li><br>
  <li >{{item.optionA}} <input type="radio" name="question{{item.id}}"  value="{{item.optionA}}"  [(ngModel)]="selectedOption"  (change)="solution(i)"></li> <br>
  <li >{{item.optionB}} <input type="radio" name="question{{item.id}}" value="{{item.optionB}}" [(ngModel)]="selectedOption"  (change)="solution(i)" ></li><br>
  <li>{{item.optionC}} <input type="radio" name="question{{item.id}}" value="{{item.optionC}}" [(ngModel)]="selectedOption"  (change)="solution(i)"></li><br>
  <li>{{item.optionD}} <input type="radio" name="question{{item.id}}" value="{{item.optionD}}" [(ngModel)]="selectedOption"  (change)="solution(i)"></li><br>
</ul>




 
       
        
     
          
  
        
      </div>
    </div>
  </div>
</body>
</html>